# "Tanzania Water Pump Prediction"

In [1]:
import pandas as pd
import numpy as np

## 파일불러오기 (Train, Train Label, Test)

In [2]:
train_values = pd.read_csv('watertrainingset.csv',sep=',')

In [3]:
test_values = pd.read_csv('watertestset.csv',sep=',')

In [4]:
train_labels=pd.read_csv('watertraininglabel.csv',sep=',')

In [5]:
print(train_values.shape)
print(test_values.shape)
print(train_labels.shape)

(59400, 40)
(14850, 40)
(59400, 2)

In [6]:
train = pd.merge(train_values, train_labels, on = 'id')

# EDA

### ◆기본통계확인

In [7]:
print(train.status_group.value_counts())

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

### ◆ 연속형 변수 기본 정보 출력

In [8]:
train.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

construnction year, population, amount_tsh outlier 처리해야 됨.

이 외 변수는 tableau의 시각자료를 활용한다

## 데이터 전처리

In [9]:
train_set =train
test_set=test_values#혹시 몰라 복사해서 활용

### ◆ 변수 삭제

<삭제할 변수기준>
1. Redundant Data
2. 필요없을 것으로 자의적 판단
3. 거의 모든 변수와의 상관관계가 0인 연속형 변수

### 1. Redundant Data 체크목록

1. Extraction > type 삭제 
2. Source > type,class삭제 
3. waterpoint > group 삭제 (이미 소분류에 대분류가 언급되어 있어서)
4. management > group 삭제 
5. payment > type삭제 
6. quality > quality group 삭제 
7. quantity > quantity group
8. location 관련 > district, region code, lga, ward, subvillage

In [10]:
train_set=train_set.drop(['extraction_type_group','extraction_type_class','source_type','source_class','waterpoint_type_group','management_group','payment_type','quality_group','quantity_group','district_code','region_code','lga','ward','subvillage'],axis=1)
test_set=test_set.drop(['extraction_type_group','extraction_type_class','source_type','source_class','waterpoint_type_group','management_group','payment_type','quality_group','quantity_group','district_code','region_code','lga','ward','subvillage'],axis=1)

### 2. 필요없는 변수 자의적 판단

1. recored_by :  누가 데이터를 입력했는지 
2. data_recorded: 언제 데이터를 입력했는지
3. wpt_name : id가 있으므로 이름은 필요없음 
4. scheme_name : scheme_management 로 대체 가능 
5. id

In [11]:
train_set = train_set.drop(['id','recorded_by','date_recorded','wpt_name','scheme_name'],axis=1)
test_set = test_set.drop(['id','recorded_by','date_recorded','wpt_name','scheme_name'],axis=1)

### 3. 거의 모든 변수와의 상관관계가 0인 연속형 변수

In [12]:
train.corr()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
id,1.000000,-0.005321,-0.004692,-0.001348,0.001718,-0.002629,-0.003028,-0.003044,-0.002813,-0.002082
amount_tsh,-0.005321,1.000000,0.076650,0.022134,-0.052670,0.002944,-0.026813,-0.023599,0.016288,0.067915
gps_height,-0.004692,0.076650,1.000000,0.149155,-0.035751,0.007237,-0.183521,-0.171233,0.135003,0.658727
longitude,-0.001348,0.022134,0.149155,1.000000,-0.425802,0.023873,0.034197,0.151398,0.086590,0.396732
latitude,0.001718,-0.052670,-0.035751,-0.425802,1.000000,0.006837,-0.221018,-0.201020,-0.022152,-0.245278
num_private,-0.002629,0.002944,0.007237,0.023873,0.006837,1.000000,-0.020377,-0.004478,0.003818,0.026056
region_code,-0.003028,-0.026813,-0.183521,0.034197,-0.221018,-0.020377,1.000000,0.678602,0.094088,0.031724
district_code,-0.003044,-0.023599,-0.171233,0.151398,-0.201020,-0.004478,0.678602,1.000000,0.061831,0.048315
population,-0.002813,0.016288,0.135003,0.086590,-0.022152,0.003818,0.094088,0.061831,1.000000,0.260910
construction_year,-0.002082,0.067915,0.658727,0.396732,-0.245278,0.026056,0.031724,0.048315,0.260910,1.000000

1. num_private 삭제 : num_private은 거의 0에 수렴하여 모든 변수와의 관계가 없다고 봐도 무방.

In [13]:
train_set= train_set.drop(['num_private'],axis=1)
test_set= test_set.drop(['num_private'],axis=1)

### ◆ 결측치 제거 및 변환

In [14]:
train_set.isnull().sum()

amount_tsh              0
funder               3635
gps_height              0
installer            3655
longitude               0
latitude                0
basin                   0
region                  0
population              0
public_meeting       3334
scheme_management    3877
permit               3056
construction_year       0
extraction_type         0
management              0
payment                 0
water_quality           0
quantity                0
source                  0
waterpoint_type         0
status_group            0
dtype: int64

train_set=train_set.dropna(subset=['public_meeting', 'permit'], how='any') # true/false 열 제거 
test_set=test_set.dropna(subset=['public_meeting', 'permit'], how='any')

In [15]:
'unknown' in train_set.installer
'unknown' in train_set.funder
'unknown' in train_set.scheme_management
  #결측치를 unknown 으로 변경

False

In [16]:
train_set = train_set.fillna('unknown')
test_set = test_set.fillna('unknown')

In [17]:
train_set.isnull().sum() #확인

amount_tsh           0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
population           0
public_meeting       0
scheme_management    0
permit               0
construction_year    0
extraction_type      0
management           0
payment              0
water_quality        0
quantity             0
source               0
waterpoint_type      0
status_group         0
dtype: int64

###  ◆너무 많은 level을 가진 범주형 변수 레벨 고치기

funder, installer

#### 레벨 고치는 함수

In [18]:
def cut_levels(x, threshold, new_value):
    value_counts=x.value_counts()
    labels = value_counts.index[value_counts<threshold]
    x[np.in1d(x,labels)]=new_value

In [19]:
cut_levels(train_set.funder,100, 'others')
cut_levels(test_set.funder, 100, 'others')

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
cut_levels(train_set.installer,100, 'others')
cut_levels(test_set.installer, 100, 'others')

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
train_set.head() #확인작업

,amount_tsh,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,...,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,6000.0,Roman,1390,others,34.938093,-9.856322,Lake Nyasa,Iringa,109,True,...,False,1999,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional
1,0.0,others,1399,others,34.698766,-2.147466,Lake Victoria,Mara,280,unknown,...,True,2010,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,functional
2,25.0,others,686,World vision,37.460664,-3.821329,Pangani,Manyara,250,True,...,True,2009,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional
3,0.0,Unicef,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,58,True,...,True,1986,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional
4,0.0,others,0,Artisan,31.130847,-1.825359,Lake Victoria,Kagera,0,True,...,True,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional

### ◆ outlier 처리

In [22]:
train_set.describe()

,amount_tsh,gps_height,longitude,latitude,population,construction_year
count,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000
mean,317.650385,668.297239,34.077427,-5.706033e+00,179.909983,1300.652475
std,2997.574558,693.116350,6.567432,2.946019e+00,471.482176,951.620547
min,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,0.000000
25%,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,0.000000
50%,0.000000,369.000000,34.908743,-5.021597e+00,25.000000,1986.000000
75%,20.000000,1319.250000,37.178387,-3.326156e+00,215.000000,2004.000000
max,350000.000000,2770.000000,40.345193,-2.000000e-08,30500.000000,2013.000000

#### construction year = 1990 이후에는 functional 한 것이 눈에 띄게 늘어남. 나머지는 늘 비슷비슷

In [23]:
train_set.construction_year.value_counts() #0을 처리해야 함. 1990 이상은 1로 1990 이하는 0으로 범주형 데이터로 변환

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [24]:
train_set.construction_year[train_set.construction_year ==0]=1990
test_set.construction_year[test_set.construction_year==0]=1990

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

0 년을 1990년으로 change

#### amount_tsh, population 은 0 값이 너무 많아 skewed되어 있음. log 값을 취해준다

In [25]:
train_set['amount_tsh']=train_set.amount_tsh.apply(lambda x:np.log(x+1))
train_set['population']=train_set.population.apply(lambda x:np.log(x+1))

In [26]:
train_set.describe()

,amount_tsh,gps_height,longitude,latitude,population,construction_year
count,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000
mean,1.585235,668.297239,34.077427,-5.706033e+00,2.819701,1994.438838
std,2.636662,693.116350,6.567432,2.946019e+00,2.662184,10.576678
min,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1960.000000
25%,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,1990.000000
50%,0.000000,369.000000,34.908743,-5.021597e+00,3.258097,1990.000000
75%,3.044522,1319.250000,37.178387,-3.326156e+00,5.375278,2004.000000
max,12.765691,2770.000000,40.345193,-2.000000e-08,10.325515,2013.000000

In [27]:
test_set['amount_tsh']=test_set.amount_tsh.apply(lambda x:np.log(x+1))
test_set['population']=test_set.population.apply(lambda x:np.log(x+1))

In [28]:
train_set.head()
test_set.head()

,amount_tsh,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,scheme_management,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type
0,0.000000,others,1996,others,35.290799,-4.059696,Internal,Manyara,5.774552,True,Parastatal,True,2012,other,parastatal,never pay,soft,seasonal,rainwater harvesting,other
1,0.000000,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Pangani,Arusha,5.707110,True,VWC,True,2000,gravity,vwc,never pay,soft,insufficient,spring,communal standpipe
2,0.000000,unknown,1567,unknown,34.767863,-5.004344,Internal,Singida,6.216606,True,VWC,unknown,2010,other,vwc,never pay,soft,insufficient,rainwater harvesting,other
3,0.000000,others,267,others,38.058046,-9.418672,Ruvuma / Southern Coast,Lindi,5.525453,unknown,VWC,True,1987,other,vwc,unknown,soft,dry,shallow well,other
4,6.216606,others,1260,others,35.006123,-10.950412,Ruvuma / Southern Coast,Ruvuma,4.110874,unknown,Water Board,True,2000,gravity,water board,pay monthly,soft,enough,spring,communal standpipe

### 모델을 돌리기 위해서 숫자형으로 바꿔주기전에 복사본 만들기

In [29]:
train_model = train_set
test_model = test_set

In [30]:
#numeric 변환전 
train_set.to_csv('pump_train_set.csv',index=False)
test_set.to_csv('pump_test_set.csv',index=False)

In [31]:
train_set

,amount_tsh,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,...,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,8.699681,Roman,1390,others,34.938093,-9.856322e+00,Lake Nyasa,Iringa,4.700480,True,...,False,1999,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional
1,0.000000,others,1399,others,34.698766,-2.147466e+00,Lake Victoria,Mara,5.638355,unknown,...,True,2010,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,functional
2,3.258097,others,686,World vision,37.460664,-3.821329e+00,Pangani,Manyara,5.525453,True,...,True,2009,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional
3,0.000000,Unicef,263,UNICEF,38.486161,-1.115530e+01,Ruvuma / Southern Coast,Mtwara,4.077537,True,...,True,1986,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional
4,0.000000,others,0,Artisan,31.130847,-1.825359e+00,Lake Victoria,Kagera,0.000000,True,...,True,1990,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional
5,3.044522,Mkinga Distric Coun,0,DWE,39.172796,-4.765587e+00,Pangani,Tanga,0.693147,True,...,True,2009,submersible,vwc,pay per bucket,salty,enough,other,communal standpipe multiple,functional
6,0.000000,Dwsp,0,DWSP,33.362410,-3.766365e+00,Internal,Shinyanga,0.000000,True,...,True,1990,swn 80,vwc,never pay,soft,enough,machine dbh,hand pump,non functional
7,0.000000,Rwssp,0,DWE,32.620617,-4.226198e+00,Lake Tanganyika,Shinyanga,0.000000,True,...,True,1990,nira/tanira,wug,unknown,milky,enough,shallow well,hand pump,non functional
8,0.000000,Wateraid,0,others,32.711100,-5.146712e+00,Lake Tanganyika,Tabora,0.000000,True,...,True,1990,india mark ii,vwc,never pay,salty,seasonal,machine dbh,hand pump,non functional
9,0.000000,others,0,Artisan,30.626991,-1.257051e+00,Lake Victoria,Kagera,0.000000,True,...,True,1990,nira/tanira,vwc,never pay,soft,enough,shallow well,hand pump,functional
10,0.000000,Private,62,Private,39.209518,-7.034139e+00,Wami / Ruvu,Pwani,5.846439,True,...,False,2011,submersible,private operator,never pay,salty,enough,machine dbh,other,functional
11,5.303305,Danida,1062,DANIDA,35.770258,-1.057417e+01,Lake Nyasa,Ruvuma,5.525453,True,...,False,1987,swn 80,wug,pay when scheme fails,soft,insufficient,shallow well,hand pump,functional
12,0.000000,World Vision,0,World vision,33.798106,-3.290194e+00,Internal,Shinyanga,0.000000,True,...,False,1990,nira/tanira,wug,other,soft,enough,shallow well,hand pump,functional
13,0.000000,Lawatefuka Water Supply,1368,Lawatefuka water sup,37.092574,-3.181783e+00,Pangani,Kilimanjaro,0.693147,True,...,True,2009,gravity,water board,pay monthly,soft,enough,spring,communal standpipe,functional
14,0.000000,others,0,WEDECO,34.364073,-3.629333e+00,Internal,Shinyanga,0.000000,True,...,True,1990,nira/tanira,wug,never pay,soft,enough,shallow well,hand pump,functional
15,0.000000,Rudep,1645,DWE,31.444121,-8.274962e+00,Lake Tanganyika,Rukwa,5.303305,True,...,False,1991,swn 80,vwc,never pay,soft,enough,machine dbh,hand pump,functional
16,6.216606,Unicef,1703,DWE,34.642439,-9.106185e+00,Rufiji,Iringa,3.583519,True,...,True,1978,gravity,wua,pay monthly,soft,dry,river,communal standpipe,non functional
17,0.000000,Unicef,1656,DWE,34.569266,-9.085515e+00,Rufiji,Iringa,3.931826,True,...,True,1978,gravity,wua,pay when scheme fails,soft,dry,river,communal standpipe,non functional
18,0.000000,Hesawa,1162,DWE,32.920154,-1.947868e+00,Lake Victoria,Mwanza,6.908755,unknown,...,True,1999,other,vwc,never pay,milky,insufficient,spring,other,functional needs repair
19,6.216606,Danida,1763,others,34.508967,-9.894412e+00,Lake Nyasa,Iringa,0.693147,True,...,True,1992,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional
20,5.303305,others,2216,TWE,34.473430,-9.594990e+00,Lake Nyasa,Iringa,1.609438,True,...,False,2008,gravity,vwc,pay monthly,soft,enough,spring,communal standpipe,functional
21,0.000000,Dwsp,0,DWE,0.000000,-2.000000e-08,Lake Victoria,Shinyanga,0.000000,unknown,...,False,1990,swn 80,wug,unknown,unknown,unknown,shallow well,hand pump,functional
22,0.000000,Unicef,1510,DWE,34.586901,-8.980014e+00,Rufiji,Iringa,5.860786,True,...,True,1978,gravity,wua,never pay,soft,enough,river,communal standpipe,functional needs repair
23,6.216606,Isf,672,ISF,37.940029,-4.125595e+00,Pangani,Kilimanjaro,5.351858,True,...,True,2011,gravity,vwc,pay monthly,soft,enough,river,communal standpipe,functional
24,0.000000,others,1645,DWE,29.747066,-4.495568e+00,Lake Tanganyika,Kigoma,5.056246,False,...,True,2009,gravity,vwc,unknown,soft,enough,spring,improved spring,functional
25,0.000000,Government Of Tanzania,1273,DWE,37.422751,-3.317536e+00,Pangani,Kilimanjaro,4.948760,True,...,True,1974,gravity,vwc,unknown,soft,enough,spring,communal standpipe,functional needs repair
26,6.216606,others,200,others,39.370777,-9.942532e+00,Ruvuma / Southern Coast,Lindi,5.564520,False,...,False,2011,india mark ii,vwc,pay monthly,soft,enough,machine dbh,hand pump,functional
27,0.000000,Hesawa,0,DWE,31.104257,-1.735361e+00,Lake Victoria,Kagera,0.000000,True,...,True,1990,nira/tanira,vwc,never pay,soft,enough,shallow well,hand pump,functional
28,0.000000,Government Of Tanzania,1443,District council,37.611126,-3.263526e+00,Pangani,Kilimanjaro,0.693147,True,...,True,2000,gravity,company,pay monthly,soft,insufficient,spring,communal standpipe,non functional
29,0.000000,Lawatefuka Water Supply,1256,Lawatefuka water sup,37.061688,-3.191989e+00,Pangani,Kilimanjaro,0.693147,True,...,True,2002,gravity,water board,pay monthly,soft,enough,spring,communal standpipe,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,5.303305,unknown,1154,unknown,30.058731,-4.902633e+00,Lake Tanganyika,Kigoma,0.693147,True,...,False,1990,other,unknown,pay monthly,unknown,unknown,unknown,other,functional
59371,0.000000,Netherlands,0,DWE,33.586406,-3.040369e+00,Lake Victoria,Shinyanga,0.000000,True,...,False,1990,nira/tanira,wug,never pay,soft,enough,shallow well,hand pump,non functional
59372,0.000000,others,0,others,32.058548,-5.052101e+00,Lake Tanganyika,Tabora,0.000000,True,...,True,1990,other,private operator,pay per bucket,salty,insufficient,shallow well,other,non functional
59373,8.517393,Rudep,1137,Distri,32.125024,-6.784358e+00,Lake Rukwa,Rukwa,4.574711,True,...,True,1988,india mark ii,vwc,pay annually,soft,enough,machine dbh,hand pump,functional
59374,0.000000,Rwssp,0,DWE,0.000000,-2.000000e-08,Lake Victoria,Shinyanga,0.000000,True,...,False,1990,nira/tanira,wug,other,soft,enough,shallow well,hand pump,functional
59375,10.596660,Government Of Tanzania,54,DWE,39.046942,-5.061494e+00,Pangani,Tanga,6.413459,True,...,True,2005,gravity,vwc,pay monthly,soft,enough,river,communal standpipe,functional
59376,0.000000,unknown,1581,unknown,34.821039,-5.076258e+00,Internal,Singida,0.693147,True,...,unknown,1990,other,vwc,unknown,unknown,dry,shallow well,other,non functional
59377,0.000000,Government Of Tanzania,0,Government,33.437012,-4.423594e+00,Internal,Tabora,0.000000,True,...,False,1990,gravity,vwc,never pay,soft,insufficient,dam,communal standpipe multiple,non functional
59378,6.216606,Rc,2101,ACRA,34.620387,-9.358405e+00,Rufiji,Iringa,3.610918,True,...,True,2008,gravity,wua,pay monthly,soft,enough,spring,communal standpipe,functional
59379,0.000000,others,0,others,31.613284,-1.820226e+00,Lake Victoria,Kagera,0.000000,True,...,True,1990,gravity,vwc,never pay,soft,enough,spring,communal standpipe,functional
59380,8.699681,Roman,1439,others,34.942101,-9.849198e+00,Lake Nyasa,Iringa,3.931826,True,...,False,1999,gravity,vwc,pay annually,soft,dry,spring,communal standpipe,non functional
59381,0.000000,Mkinga Distric Coun,0,DWE,38.835001,-4.880204e+00,Pangani,Tanga,5.888878,True,...,True,1992,gravity,vwc,never pay,soft,insufficient,spring,communal standpipe,non functional
59382,1.945910,Ces(gmbh),1383,DWE,37.454759,-3.323599e+00,Pangani,Kilimanjaro,0.693147,True,...,True,2008,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,non functional
59383,0.000000,World Bank,11,others,39.626009,-1.005750e+01,Ruvuma / Southern Coast,Lindi,6.685861,True,...,True,2008,nira/tanira,vwc,unknown,soft,enough,rainwater harvesting,hand pump,functional
59384,0.000000,Concern,0,others,30.667805,-2.483710e+00,Lake Victoria,Kagera,0.000000,True,...,False,1990,gravity,vwc,never pay,soft,insufficient,spring,communal standpipe,non functional
59385,6.216606,Jaica,1327,others,33.951681,-2.021854e+00,Lake Victoria,Mara,5.303305,True,...,True,2011,afridev,wug,pay monthly,salty,enough,machine dbh,hand pump,functional
59386,0.000000,Adb,1786,DWE,31.738789,-8.532013e+00,Lake Rukwa,Rukwa,6.908755,True,...,False,2009,india mark ii,vwc,never pay,soft,enough,machine dbh,hand pump,functional
59387,4.615121,0,25,0,39.176480,-6.957098e+00,Wami / Ruvu,Dar es Salaam,4.615121,unknown,...,False,2000,submersible,wua,pay per bucket,soft,enough,machine dbh,communal standpipe,functional
59388,0.000000,others,1414,DWE,30.692400,-3.593827e+00,Lake Tanganyika,Kigoma,6.216606,True,...,True,1995,gravity,vwc,unknown,soft,insufficient,spring,improved spring,functional
59389,0.000000,Co,783,DWE,30.646486,-7.365418e+00,Lake Tanganyika,Rukwa,7.313887,False,...,False,2009,india mark ii,vwc,never pay,soft,enough,machine dbh,hand pump,functional
59390,0.000000,Rudep,1715,DWE,31.370848,-8.258160e+00,Lake Tanganyika,Rukwa,5.017280,True,...,False,1991,swn 80,vwc,never pay,soft,insufficient,machine dbh,hand pump,functional
59391,0.000000,Government Of Tanzania,540,Government,38.044070,-4.272218e+00,Pangani,Kilimanjaro,5.351858,True,...,True,1967,gravity,vwc,never pay,soft,enough,river,communal standpipe,non functional
59392,0.000000,Government Of Tanzania,0,Government,33.009440,-8.520888e+00,Lake Rukwa,Mbeya,0.000000,True,...,True,1990,gravity,vwc,never pay,soft,enough,spring,communal standpipe,non functional
59393,0.000000,Private,0,Private,33.866852,-4.287410e+00,Internal,Tabora,0.000000,False,...,False,1990,gravity,private operator,pay per bucket,soft,insufficient,dam,other,functional
59394,6.216606,World Bank,351,others,37.634053,-6.124830e+00,Wami / Ruvu,Morogoro,4.499810,True,...,True,2007,submersible,vwc,pay monthly,soft,enough,machine dbh,communal standpipe,non functional
59395,2.397895,Germany Republi,1210,CES,37.169807,-3.253847e+00,Pangani,Kilimanjaro,4.836282,True,...,True,1999,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,functional
59396,8.455531,others,1212,others,35.249991,-9.070629e+00,Rufiji,Iringa,4.043051,True,...,True,1996,gravity,vwc,pay annually,soft,enough,river,communal standpipe,functional
59397,0.000000,unknown,0,unknown,34.017087,-8.750434e+00,Rufiji,Mbeya,0.000000,True,...,False,1990,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,functional
59398,0.000000,others,0,others,35.861315,-6.378573e+00,Rufiji,Dodoma,0.000000,True,...,True,1990,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,functional
59399,0.000000,World Bank,191,World,38.104048,-6.747464e+00,Wami / Ruvu,Morogoro,5.017280,True,...,True,2002,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,functional

### ◆ 모든 문자형 변수 = numeric으로 바꾸기 (그래야 모델링 가능)

In [32]:
train_model.status_group.value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

funder, installer,basin,region, public_meeting, , scheme_management, permit, extraction_type, management, payment,water_qualityquantity,           
source ,    waterpoint_type      status_group

status_group 바꾸기

In [33]:
def transformation(df, column_name):
    unique_values = set(df[column_name].tolist())
    transform_dict = {}
    for i, value in enumerate(unique_values):
        transform_dict[value]=i
    
    def label_map(x):
        return transform_dict[x]
    df[column_name]=df[column_name].apply(label_map)
    return df

In [34]:
watercolumns_to_transform = ["funder","installer","basin","region","public_meeting","scheme_management","permit","extraction_type","management","payment","water_quality","quantity","source","waterpoint_type","status_group"]
#test_model 변환위해 status_group 제거 
watercolumns_to_transform2 = ["funder","installer","basin","region","public_meeting","scheme_management","permit","extraction_type","management","payment","water_quality","quantity","source","waterpoint_type"]

In [35]:
for column in watercolumns_to_transform:
    train_model = transformation(train_model,column)

In [36]:
 for column in watercolumns_to_transform2:
    test_model = transformation(test_model,column)

In [37]:
train_model.corr()["status_group"]

amount_tsh           0.155505
funder              -0.018784
gps_height           0.096408
installer            0.002172
longitude            0.071635
latitude            -0.021020
basin                0.043406
region               0.069689
population           0.040964
public_meeting       0.042963
scheme_management   -0.030732
permit               0.021958
construction_year    0.198656
extraction_type      0.077097
management          -0.079755
payment             -0.137575
water_quality        0.056713
quantity            -0.150845
source              -0.012486
waterpoint_type      0.112813
status_group         1.000000
Name: status_group, dtype: float64

In [38]:
train_model.status_group

0        2
1        2
2        2
3        1
4        2
5        2
6        1
7        1
8        1
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       1
17       1
18       0
19       2
20       2
21       2
22       0
23       2
24       2
25       0
26       2
27       2
28       1
29       2
        ..
59370    2
59371    1
59372    1
59373    2
59374    2
59375    2
59376    1
59377    1
59378    2
59379    2
59380    1
59381    1
59382    1
59383    2
59384    1
59385    2
59386    2
59387    2
59388    2
59389    2
59390    2
59391    1
59392    1
59393    2
59394    1
59395    2
59396    2
59397    2
59398    2
59399    2
Name: status_group, dtype: int64

In [39]:
train_set.status_group

0        2
1        2
2        2
3        1
4        2
5        2
6        1
7        1
8        1
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       1
17       1
18       0
19       2
20       2
21       2
22       0
23       2
24       2
25       0
26       2
27       2
28       1
29       2
        ..
59370    2
59371    1
59372    1
59373    2
59374    2
59375    2
59376    1
59377    1
59378    2
59379    2
59380    1
59381    1
59382    1
59383    2
59384    1
59385    2
59386    2
59387    2
59388    2
59389    2
59390    2
59391    1
59392    1
59393    2
59394    1
59395    2
59396    2
59397    2
59398    2
59399    2
Name: status_group, dtype: int64

### 전처리된 파일저장

In [40]:

#numeric 변환 후 
train_model.to_csv('pump_train_model_set.csv',index=False)
test_model.to_csv('pump_test_model_set.csv',index=False)

In [41]:
train_model

,amount_tsh,funder,gps_height,installer,longitude,latitude,basin,region,population,public_meeting,...,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,8.699681,23,1390,46,34.938093,-9.856322e+00,2,16,4.700480,1,...,0,1999,9,10,3,6,1,5,6,2
1,0.000000,65,1399,46,34.698766,-2.147466e+00,0,7,5.638355,2,...,1,2010,9,6,5,6,4,1,6,2
2,3.258097,65,686,7,37.460664,-3.821329e+00,8,19,5.525453,1,...,1,2009,9,10,2,6,1,6,4,2
3,0.000000,4,263,5,38.486161,-1.115530e+01,6,13,4.077537,1,...,1,1986,5,10,5,6,3,7,4,1
4,0.000000,65,0,12,31.130847,-1.825359e+00,0,4,0.000000,1,...,1,1990,9,4,5,6,2,1,6,2
5,3.044522,32,0,68,39.172796,-4.765587e+00,8,11,0.693147,1,...,1,2009,5,10,2,2,1,2,4,2
6,0.000000,50,0,18,33.362410,-3.766365e+00,7,14,0.000000,1,...,1,1990,11,10,5,6,1,7,3,1
7,0.000000,63,0,68,32.620617,-4.226198e+00,1,14,0.000000,1,...,1,1990,15,6,6,5,1,4,3,1
8,0.000000,55,0,46,32.711100,-5.146712e+00,1,12,0.000000,1,...,1,1990,14,10,5,2,2,7,3,1
9,0.000000,65,0,12,30.626991,-1.257051e+00,0,4,0.000000,1,...,1,1990,15,10,5,6,1,4,3,2
10,0.000000,57,62,42,39.209518,-7.034139e+00,5,10,5.846439,1,...,0,2011,5,5,5,2,1,7,2,2
11,5.303305,72,1062,81,35.770258,-1.057417e+01,2,3,5.525453,1,...,0,1987,11,6,4,6,4,4,3,2
12,0.000000,37,0,7,33.798106,-3.290194e+00,7,14,0.000000,1,...,0,1990,15,6,1,6,1,4,3,2
13,0.000000,15,1368,55,37.092574,-3.181783e+00,8,5,0.693147,1,...,1,2009,9,0,0,6,1,5,6,2
14,0.000000,65,0,64,34.364073,-3.629333e+00,7,14,0.000000,1,...,1,1990,15,6,5,6,1,4,3,2
15,0.000000,39,1645,68,31.444121,-8.274962e+00,1,0,5.303305,1,...,0,1991,11,10,5,6,1,7,3,2
16,6.216606,4,1703,68,34.642439,-9.106185e+00,3,16,3.583519,1,...,1,1978,9,8,0,6,3,3,6,1
17,0.000000,4,1656,68,34.569266,-9.085515e+00,3,16,3.931826,1,...,1,1978,9,8,4,6,3,3,6,1
18,0.000000,33,1162,68,32.920154,-1.947868e+00,0,8,6.908755,2,...,1,1999,6,10,5,5,4,5,2,0
19,6.216606,72,1763,46,34.508967,-9.894412e+00,2,16,0.693147,1,...,1,1992,9,10,3,6,1,5,6,2
20,5.303305,65,2216,80,34.473430,-9.594990e+00,2,16,1.609438,1,...,0,2008,9,10,0,6,1,5,6,2
21,0.000000,50,0,68,0.000000,-2.000000e-08,0,14,0.000000,2,...,0,1990,11,6,6,4,0,4,3,2
22,0.000000,4,1510,68,34.586901,-8.980014e+00,3,16,5.860786,1,...,1,1978,9,8,5,6,1,3,6,0
23,6.216606,85,672,10,37.940029,-4.125595e+00,8,5,5.351858,1,...,1,2011,9,10,0,6,1,3,6,2
24,0.000000,65,1645,68,29.747066,-4.495568e+00,1,1,5.056246,0,...,1,2009,9,10,6,6,1,5,0,2
25,0.000000,81,1273,68,37.422751,-3.317536e+00,8,5,4.948760,1,...,1,1974,9,10,6,6,1,5,6,0
26,6.216606,65,200,46,39.370777,-9.942532e+00,6,18,5.564520,0,...,0,2011,14,10,0,6,1,7,3,2
27,0.000000,33,0,68,31.104257,-1.735361e+00,0,4,0.000000,1,...,1,1990,15,10,5,6,1,4,3,2
28,0.000000,81,1443,31,37.611126,-3.263526e+00,8,5,0.693147,1,...,1,2000,9,1,0,6,4,5,6,1
29,0.000000,15,1256,55,37.061688,-3.191989e+00,8,5,0.693147,1,...,1,2002,9,0,0,6,1,5,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,5.303305,59,1154,44,30.058731,-4.902633e+00,1,1,0.693147,1,...,0,1990,6,9,0,4,0,8,2,2
59371,0.000000,62,0,68,33.586406,-3.040369e+00,0,14,0.000000,1,...,0,1990,15,6,5,6,1,4,3,1
59372,0.000000,65,0,46,32.058548,-5.052101e+00,1,12,0.000000,1,...,1,1990,6,5,2,2,4,4,2,1
59373,8.517393,39,1137,20,32.125024,-6.784358e+00,4,0,4.574711,1,...,1,1988,14,10,3,6,1,7,3,2
59374,0.000000,63,0,68,0.000000,-2.000000e-08,0,14,0.000000,1,...,0,1990,15,6,1,6,1,4,3,2
59375,10.596660,81,54,68,39.046942,-5.061494e+00,8,11,6.413459,1,...,1,2005,9,10,0,6,1,3,6,2
59376,0.000000,59,1581,44,34.821039,-5.076258e+00,7,20,0.693147,1,...,2,1990,6,10,6,4,3,4,2,1
59377,0.000000,81,0,17,33.437012,-4.423594e+00,7,12,0.000000,1,...,0,1990,9,10,5,6,4,6,4,1
59378,6.216606,88,2101,45,34.620387,-9.358405e+00,3,16,3.610918,1,...,1,2008,9,8,0,6,1,5,6,2
59379,0.000000,65,0,46,31.613284,-1.820226e+00,0,4,0.000000,1,...,1,1990,9,10,5,6,1,5,6,2
59380,8.699681,23,1439,46,34.942101,-9.849198e+00,2,16,3.931826,1,...,0,1999,9,10,3,6,3,5,6,1
59381,0.000000,32,0,68,38.835001,-4.880204e+00,8,11,5.888878,1,...,1,1992,9,10,5,6,4,5,6,1
59382,1.945910,84,1383,68,37.454759,-3.323599e+00,8,5,0.693147,1,...,1,2008,9,0,2,6,1,5,6,1
59383,0.000000,49,11,46,39.626009,-1.005750e+01,6,18,6.685861,1,...,1,2008,15,10,6,6,1,1,3,2
59384,0.000000,34,0,46,30.667805,-2.483710e+00,0,4,0.000000,1,...,0,1990,9,10,5,6,4,5,6,1
59385,6.216606,48,1327,46,33.951681,-2.021854e+00,0,7,5.303305,1,...,1,2011,0,6,0,2,1,7,3,2
59386,0.000000,66,1786,68,31.738789,-8.532013e+00,4,0,6.908755,1,...,0,2009,14,10,5,6,1,7,3,2
59387,4.615121,16,25,15,39.176480,-6.957098e+00,5,6,4.615121,2,...,0,2000,5,8,2,6,1,7,6,2
59388,0.000000,65,1414,68,30.692400,-3.593827e+00,1,1,6.216606,1,...,1,1995,9,10,6,6,4,5,0,2
59389,0.000000,77,783,68,30.646486,-7.365418e+00,1,0,7.313887,0,...,0,2009,14,10,5,6,1,7,3,2
59390,0.000000,39,1715,68,31.370848,-8.258160e+00,1,0,5.017280,1,...,0,1991,11,10,5,6,4,7,3,2
59391,0.000000,81,540,17,38.044070,-4.272218e+00,8,5,5.351858,1,...,1,1967,9,10,5,6,1,3,6,1
59392,0.000000,81,0,17,33.009440,-8.520888e+00,4,9,0.000000,1,...,1,1990,9,10,5,6,1,5,6,1
59393,0.000000,57,0,42,33.866852,-4.287410e+00,7,12,0.000000,0,...,0,1990,9,5,2,6,4,6,2,2
59394,6.216606,49,351,46,37.634053,-6.124830e+00,5,2,4.499810,1,...,1,2007,5,10,0,6,1,7,6,1
59395,2.397895,35,1210,37,37.169807,-3.253847e+00,8,5,4.836282,1,...,1,1999,9,0,2,6,1,5,6,2
59396,8.455531,65,1212,46,35.249991,-9.070629e+00,3,16,4.043051,1,...,1,1996,9,10,3,6,1,3,6,2
59397,0.000000,59,0,44,34.017087,-8.750434e+00,3,9,0.000000,1,...,0,1990,11,10,0,3,1,7,3,2
59398,0.000000,65,0,46,35.861315,-6.378573e+00,3,15,0.000000,1,...,1,1990,15,10,5,6,4,4,3,2
59399,0.000000,49,191,78,38.104048,-6.747464e+00,5,2,5.017280,1,...,1,2002,15,10,4,2,1,4,3,2